@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a.text-link {
    color: #CA6262;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
        -webkit-text-decoration-color: #CA6262;
                text-decoration-color: #CA6262;
    }
}

a{
    color: white;
    text-decoration: underline;
    -webkit-text-decoration-color: #CA6262;
            text-decoration-color: #CA6262;

    &:hover, &:active {
        color: #CA6262;
    }
}

div.modal {
    position: fixed;
    text-align: center;
    width: 40%;
    bottom: 0px;
    background-color: rgb(0,0,0,0.75);
    border-radius: 15px;
    margin: 1vw;
    transition: 1s; 

    div.modal-header {
        background-color: black;
        margin: 0;
        padding: .8vw .5vw .8vw .5vw;
        border-radius: 15px 15px 0 0;
        font-size: 1.1em;


        span.close {
            float: right;
            margin: 0px 5px 0px 5px;
            cursor: pointer;
        }
        span.alert { 
            float: left;
            margin: 0px 5px 0px 5px;
        }
    }

    p{
        font-size: 1em;

        a{
            color: white;
            text-decoration: underline;
            -webkit-text-decoration-color: #CA6262;
                    text-decoration-color: #CA6262;

            &:hover, &:active {
                color: #CA6262;
            }
        }
    }
}

html { margin: 0; padding: 0; }

.mobile-show {
    display: none;
}

body{ 
    margin: 0; padding: 0; 
    font-family: 'Poppins', sans-serif;
    background-color: #CA6262;
    color: white;
    background-image: url('/assets/BG.png');
    padding:0vw 0vw 0vw 0vw;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    margin: 0; padding: 0;
    padding:0vw 0vw 30vw 0vw;
    width: 100%;

    nav {
        margin: 0; padding: 0px;
        background-image: linear-gradient((180deg, rgb(0,0,0,.5), rgb(0,0,0,0)));
        width:100vw;
        display: flex;
        position: fixed;
        background-repeat: no-repeat;

        ul {
            display: flex;
            margin: 0; padding: 0;
            width: 100%;
            justify-content: center;

            li{ 
                list-style: none;
                margin: 1vw;

                
                a{ 
                    color: white;
                    text-decoration: none;
                    font-size: 1.3em;
                    text-align: center;

                    &:hover, &:active {
                        color: #003dd6;
                    }
                }
            }
        }
    }

    text-align: center;
    div.main {
        padding: 15vw 0px 0px 0px;

        h1 {
            margin: 0;
            font-size: 4.5em;
        }
        h2 {
            margin: 0;
            font-size: 2em;
            font-weight: 300;
        }
    }
}

section#features {
    background-image: url('/assets/section\ bg\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vw 0vw 1vw 0vw;
    padding: 1.6vw 0vw 1vw 01vw;

    
    h2{
        text-align: center;
        font-size: 3.3em;
    }
    h3{
        font-size: 2.4vw;
        margin: 0; padding: 0;
        margin-top: 4vw;
    }
    p{
        font-size: 1.8vw;
    }
    .lead{
        font-weight: 700;
    }
    span.code {
        font-family:'Courier New', Courier, monospace;
        background-color: #eeeeee;
        font-weight: 100;
    }

    div.row-1 {
        display: grid;
        grid-template-columns: 40% 60%;
        height: 30vw;
        color: black;
        -moz-column-gap: 3vw;
             column-gap: 3vw;

        div.a {
            background-image: url('/assets/text-bg-1.png');
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            margin: 0.5vw;
        }
        div.b{
            background-image: url('/assets/text-bg-2.png');
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    div.row-2{
        background-image: url('/assets/text-bg-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        color: black;
        height: 40vw;
        
        padding: 4vw 0px 0px 0px;

        div.grid {
            margin: 0px 35vw 0px 35vw;
            display: grid;
            grid-template-columns: 50% 50%;

            p{
                margin: 0; padding: 0;
                font-size: 1.8vw;
            }
        }
    }
}

section#about {
    background-image: url('/assets/section\ bg\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vw 0vw 1vw 0vw;
    padding: 2vw 0vw 20vw 0vw;

    h2{
        font-size: 4em;
        text-align: center;
        margin: 2vw 0vw 0vw 0vw;
    }

    div.text {
        margin: 1vw 6vw 1vw 6vw;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        p {
            font-size: 1.2em;
        }
        a.join {
            color: white;
            text-decoration: none;
            padding: 1.2vw;
            font-size: 1.2em;
            border: 1px solid white;
            border-radius: 15px;

            &:hover, &:active {
                background: white;
                color: black;
            }
        }
        h3{
            font-size: 3em;
            margin: 0; padding: 0;
        }
        h4{
            margin: 0; padding: 0;
            font-size: 2em;
        }
        h5{
            margin: 0; padding: 0;
            font-size: 1em;
        }

        div.grid {
            display: grid;
            grid-template-columns: 50% 50%;

            div {
                background-color: white;
                color: black;
                margin: 2vw;
                padding: 2vw;
                border-radius: 35px;
                p {
                    font-size: 1.2vw;
                }
                h4 {margin: 0; padding: 0;}
                h5 {
                    margin: 0; padding: 0;
                    color: rgb(178, 178, 178);
                }

                img.pfp {
                    margin: 1vw;
                    height: 25vw;
                }
            }
        }
    }
}

section#invite {
    margin-top: 1vw;
    text-align: center;
    background-color: rgb(0,0,0,.5);
    padding: 2vw 0vw 6vw 0vw;
    h2 {
        font-size: 4em;
        margin: 1vw; padding: 0;
    }
    a {
        color: white;
        text-decoration: none;
        padding: 1.2vw;
        font-size: 1.2em;
        border: 1px solid white;
        border-radius: 15px;
        margin: .4vw;

        &:hover, &:active {
            background: white;
            color: black;
        }
    }
}

footer {
    background-image: radial-gradient(rgb(255, 197, 197, 0.5), rgb(248, 168, 168, .5));
    margin: 1vw 0px 0px 0px; padding: 3vw;
    text-align: center;

    h2 {
        margin: 0; padding: 0;
        font-size: 2em;
    }
    p { margin: 0; padding: 0; }

        
    ul.grid{
        margin: .5vw; 
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: center;
        
        li { 
            list-style: none;
            margin: 0px 1vw 0px 1vw;
        }
    }

}

@media screen and (max-width: 688px){

    p { font-size: .7em }
    h1{ font-size: 6em }
    h2{ font-size: 5.5em; }
    h3{ font-size: 4.5em; }
    h4{ font-size: 3.5em; }
    h5{ font-size: 3em; }

    html { margin: 0; padding: 0; }
    body {

        .mobile-hide{
            display: none;
        }
        .mobile-show {
            display: block;
        }

        padding: 0; margin: 0;
        overflow-x: hidden;
        background-image: url('/assets/BG\ mobile.png');
        width: 100%;

        header{
            height: 100vh;
            display: flex;
            flex-direction: column;
            vertical-align:middle;

            div.main {
                h1{
                    font-size: 5em;
                    padding-top: 30vh;
                }
                h2{ font-size: 2em; }
            }

            nav {
                ul{
                    padding: 2vw;
                    a{ 
                        font-size: 4vw;
                        margin: 1vw;
                    }
                }
            }
        }

        div.modal {
            display: none;
        }

        section#features {
            height: 95vh;
            padding: 1vw;
            background-color: rgb(0,0,0,.5);
            background-image: none;

            h2{ font-size: 3em; }
            h3{
                font-size: 2em;
                margin: 1vw;
            }
            p { font-size: 1.5em }

            .row-1 {
                display: block;
                padding: 1vw;

                div.a, div.b{
                    background-color: white;
                    background-image: none;
                    margin: 3vw;
                    border-radius: 25px;
                    padding: 3vw;
                    display: block;

                    h3 {display: none }
                }
            }
            .row-2 {
                display: none;
                // margin-top: 20vh;
                
                background-color: white;
                background-image: none;
                margin: 1vw 3vw 1vw 3vw;
                padding: 1vw;
                border-radius: 25px;

                div.grid{
                    display: none;
                }
            }
        }
    }

    section#about {
        background-image: none;
        background-color: rgb(0,0,0,.5);
        margin-top: 2vh;
        
        h2{ font-size: 4em; margin-top: 1vh; }
        h3{
            font-size: 2em;
            margin: 1vw;
        }
        p { font-size: 1.5em; }

        div.text{
            p { font-size: 1.5em; }
            a.join { font-size: 1.2em; padding: 1.5vh}
        }
        div.team {
            h3{ font-size: 3em; }

            div.grid{
                display: block;
                div {
                    h4{ font-size: 2.2em; margin: 0; padding: 0; }
                    h5 {font-size: .7em; margin: 0; padding: 0; }
                    p{ font-size: 1em; }
                }
            }
        }
    }

    section#invite {
        h2{ font-size: 4em;}
        div.flex{
            a{ 
                font-size: 1em; 
                padding: 1.5vh;
                margin: .5vh;
            }
        }
    }

    footer {
        margin-top: 2vh;
        h2{ font-size: 5em; }
        p { font-size: 1.2em; }
    }

}  